<% include partials/top %>

<form action="/results" method="GET">
<div class="search">
    <input type="text" placeholder="Movie Name" name="movName">
    <div class="icon"></div>
</div>
</form>

<% include partials/bot %>